In [1]:
import pandas as pd
import datetime as dt
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.dates as mdates

import requests, io
import zipfile as zf
import shutil
import os

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [3]:
file_path = os.getcwd()
print(file_path)

plt.style.use('ggplot')

C:\Users\Andrew

In [4]:
df = pd.read_csv(r"C:\College\Spring 2021\CS545\totalCases_Deaths.csv", skiprows=3)

In [5]:
df

,State/Territory,Total Cases,Confirmed Cases,Probable Cases,Cases in Last 7 Days,Case Rate per 100000,Total Deaths,Confirmed Deaths,Probable Deaths,Deaths in Last 7 Days,Death Rate per 100000,7-Day Cases Rate per 100000,7-Day Death Rate per 100000
0,Alaska,57449,0,0,844,7853,301,NaN,NaN,2,41,115.4,0.3
1,Alabama,501398,393278,108120,4244,10226,10222,8035.0,2187.0,193,208,86.6,3.9
2,Arkansas,325700,0,0,2347,10793,5382,NaN,NaN,121,178,77.8,4.0
3,American Samoa,4,0,0,0,7,0,NaN,NaN,0,0,0.0,0.0
4,Arizona,828630,771541,57089,8676,11384,16404,14477.0,1927.0,315,225,119.2,4.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,West Virginia,134158,107100,27058,1742,7486,2330,NaN,NaN,21,130,97.2,1.2
58,Wyoming,55014,46588,8426,398,9506,691,691.0,0.0,9,119,68.8,1.6
59,United States of America,29052862,13299391,1938389,470141,8751,527726,263397.0,31421.0,10391,158,141.6,3.1
60,New York,950806,0,0,23056,8601,18303,NaN,NaN,211,165,208.6,1.9
61,New York City,767535,644461,123074,26410,9139,30059,25024.0,5035.0,422,357,314.5,5.0

In [22]:
df.iloc[[58],[0,1,2,4,5,6]]

,State/Territory,Total Cases,Confirmed Cases,Cases in Last 7 Days,Case Rate per 100000,Total Deaths
58,Wyoming,55014,46588,398,9506,691